@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:500&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #6e645f;
  line-height: 1;
  font-family: "Lexend Deca";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Lexend Deca";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #dfccc2
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 85.625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.menu__list {
  font-family: "DM Sans";
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .1875rem
}
.menu__item {
  position: relative
}
.menu__item:after,
.menu__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 120%;
  height: 1px;
  width: 0;
  background-color: red;
  transition: width .4s ease-in-out
}
.menu__item:hover:before {
  left: 0;
  width: 50%
}
.menu__item:hover:after {
  right: 0;
  width: 50%
}
.icon-menu {
  display: none
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: 2.5rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  border-radius: .625rem;
  background-color: #100c46;
  box-shadow: 0 0 .1875rem #6257fe,0 0 1.875rem rgba(255,255,255,.8);
  border: .0625rem solid #fff;
  opacity: .6;
  transition: opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s;
  transition: transform .4s ease-in-out 0s,opacity .4s ease-in-out 0s,background-color .4s ease-in-out 0s,box-shadow .4s ease-in-out 0s,-webkit-transform .4s ease-in-out 0s
}
.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-.3125rem,-.125rem,0);
  transform: translate3D(-.3125rem,-.125rem,0);
  box-shadow: .3125rem .125rem .1875rem #100c46,0 0 1.875rem rgba(255,255,255,.8)
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  color: #fff;
  line-height: 1.2
}
.text {
  color: #6e645f;
  line-height: 150%
}
.header {
  background-color: #dfccc2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all .8s;
  color: #fff
}
.header._header-scroll {
  background-color: rgba(223,204,194,.8);
  margin-top: 0
}
.header__container {
  min-height: 42px;
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  align-items: center;
  padding-top: .3125rem;
  padding-bottom: .3125rem
}
.header__menu {
  font-family: "DM Sans";
  justify-self: start
}
.header__logo {
  justify-self: center;
  transition: color 2.5s ease
}
.header__booking {
  font-family: "DM Sans";
  justify-self: end;
  position: relative
}
.header__booking::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: red;
  position: absolute;
  top: 120%;
  left: 0;
  opacity: 1;
  transition: opacity .3s ease
}
.header__booking:hover:after {
  opacity: 0
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px
}
.footer__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 3.1
}
.footer__item {
  position: relative
}
.footer__item:after,
.footer__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 80%;
  height: 1px;
  width: 0;
  background-color: red;
  transition: width .4s ease-in-out
}
.footer__item:hover:before {
  left: 0;
  width: 50%
}
.footer__item:hover:after {
  right: 0;
  width: 50%
}
.footer__team {
  text-align: end
}
.footer__title {
  color: #fff
}
.footer__link {
  color: red;
  text-align: end;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all .4s ease
}
.footer__link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 130%;
  left: 0;
  opacity: 1;
  transition: all .4s ease
}
.footer__link:hover {
  color: #fff
}
.footer__link:hover:after {
  background-color: #fff;
  width: 50%
}
.hero {
  background-color: #dfccc2
}
.hero__main {
  display: flex;
  justify-content: space-between;
  max-width: 930px;
  margin: 0 auto;
  position: relative
}
.hero__title {
  max-width: 400px;
  position: relative;
  z-index: 4
}
.hero__image-first {
  aspect-ratio: 412/459;
  max-width: 412px;
  width: 100%;
  position: absolute;
  top: -2%;
  left: 30%
}
.hero__image-first img {
  z-index: 1;
  position: relative
}
.hero__image-first::before {
  content: url(../img/hero/vector1.svg);
  position: absolute;
  max-width: 197px;
  width: 100%;
  bottom: -14%;
  left: -21%
}
.hero__image-first::after {
  content: url(../img/hero/abstract2.webp);
  position: absolute;
  max-width: 237px;
  width: 100%;
  bottom: -30%;
  right: -20%
}
.hero__main-info {
  width: 100%
}
.hero__image-second {
  aspect-ratio: 243/243;
  width: 100%;
  position: relative
}
.hero__image-second img {
  position: relative;
  z-index: 3
}
.hero__image-second::before {
  content: url(../img/hero/abstract1.webp);
  position: absolute;
  max-width: 223px;
  width: 100%;
  top: -34%;
  left: -20%
}
.hero__main-text {
  max-width: 164px;
  margin-left: auto;
  position: relative;
  z-index: 5;
}
.hero__focus {
  display: flex;
  justify-content: center
}
.hero__image-third {
  max-height: 385px;
  aspect-ratio: 312/385;
  width: 100%;
  position: relative
}
.hero__image-third img {
  position: relative
}
.hero__image-third::before {
  content: url(../img/hero/vector2.svg);
  position: absolute;
  max-width: 346px;
  width: 100%;
  bottom: -28%;
  left: -53%
}
.hero__focus-info {
  align-content: center
}
.hero__subtitle {
  margin-bottom: 20px
}
.hero__focus-text {
  max-width: 400px;
  position: relative;
  z-index: 5;
}
.hero__image-fourth {
  width: 100%;
  aspect-ratio: 365/530;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  position: relative;
  z-index: 2
}
.hero__image-fourth img {
  position: relative
}
.hero__image-fourth::before {
  content: url(../img/hero/vector3.svg);
  position: absolute;
  max-width: 369px;
  width: 100%;
  top: 15%;
  left: -90%
}
.task {
  position: relative;
  z-index: 1;
  background-color: #c5cebd
}
.task__container {
  display: flex;
  position: relative
}
.task__main {
  display: flex;
  align-items: center
  gap: 30px;
}
.task__info {
  max-width: 450px;
  position: relative;
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%)
}
.task__title {
  line-height: 1.1
}
.task__text {
  max-width: 330px;
  margin-left: auto;
  position: relative
}
.task__img {
  max-width: 558px;
  width: 100%;
  max-height: 704px;
  height: 100%;
  aspect-ratio: 558/704;
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%);
  position: relative
}
.task__img img {
  position: relative
}
.task__img::before {
  content: "";
  position: absolute;
  background-image: url(../img/task/task-ab.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 13.9375rem;
  height: 14.625rem;
  right: -22%;
  bottom: -15%
}
.task__images {
  position: absolute;
  right: 0;
  top: 35%
}
.task__img-first {
  max-width: 399px;
  width: 100%;
  aspect-ratio: 399/400;
  margin-top: auto;
  -webkit-transform: translateX(65%);
  transform: translateX(65%);
  position: relative
}
.task__img-first img {
  position: relative
}
.task__img-first::before {
  content: url(../img/task/task-vec.svg);
  position: absolute;
  left: -65%;
  bottom: -35%
}
.task__img-second {
  max-width: 338px;
  width: 100%;
  aspect-ratio: 338/400;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%)
}
.task__img-second img {
  position: relative
}
.services {
  background-color: #dfccc2
}
.services__title {
  text-align: center
}
.services__items {
  max-width: 870px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px
}
.services__item {
  display: flex;
  flex-direction: column
}
.services__left {
  aspect-ratio: 190/325
}
.services__item-title {
  color: #fff;
  line-height: 1.2;
  position: relative;
}
.services__middle {
  aspect-ratio: 188/546;
  -webkit-transform: translateY(16%);
  transform: translateY(16%);
  position: relative
}
.services__middle::before {
  content: url(../img/services/serv-vector.svg);
  position: absolute;
  bottom: -10%;
  right: -40%
}
.services__middle-img {
  position: relative
}
.services__right {
  aspect-ratio: 190/375;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  position: relative
}
.services__right::before {
  content: url(../img/services/serv-abstr.svg);
  position: absolute;
  top: 20%;
  right: -68%
}
.services__right-img {
  position: relative
}
.services__info {
  max-width: 320px;
  text-align: end;
  margin-left: 21%;
  position: relative
}
.services__link {
  color: #fff
}
.passion {
  height: 100vh;
  position: relative;
  -webkit-transform: translate(0,10%);
  transform: translate(0,10%);
  opacity: 0;
  transition: all .9s
}
.passion._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1.8s
}
.passion__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end
}
.passion__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.passion__info {
  position: relative
}
.passion__title {
  margin-bottom: 10px;
  text-align: center
}
.passion__text {
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
  max-width: 393px;
  margin: 0 auto;
  font-family: "DM Sans"
}
.self {
  background-color: #c2b8cc;
  -webkit-transform: translate(0,10%);
  transform: translate(0,10%);
  opacity: 0;
  transition: all .9s
}
.self._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1.8s
}
.self__item {
  display: flex;
  align-items: center;
  justify-content: center
}
.self__image {
  -webkit-transform: translateX(35%);
  transform: translateX(35%);
  max-width: 458px;
  width: 100%;
  aspect-ratio: 458/510;
  position: relative
}
.self__image img {
  position: relative;
  z-index: 5
}
.self__image::before {
  content: url(../img/self/self-abst.svg);
  position: absolute;
  left: -48%;
  top: 29%;
  max-width: 237px;
  width: 100%
}
.self__image::after {
  content: url(../img/self/self-vector.svg);
  position: absolute;
  right: -20%;
  top: 20%;
  max-width: 219px;
  width: 100%
}
.self__image-top {
  position: absolute;
  top: -25%;
  right: -50%;
  max-width: 302px;
  width: 100%;
  aspect-ratio: 302/303
}
.self__image-bottom {
  position: absolute;
  bottom: -15%;
  left: -40%;
  max-width: 229px;
  width: 100%;
  aspect-ratio: 229/256
}
.self__info {
  position: relative;
  -webkit-transform: translate(30%,100%);
  transform: translate(30%,100%)
}
.self__title {
  max-width: 293px
}
.self__link {
  color: #fff
}
@media (min-width:85.625em) {
  body {
    font-size: 1rem
  }
  .menu {
    gap: 5rem
  }
  .menu__list {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .title {
    font-size: 2.5rem
  }
  .header {
    margin-top: 1.875rem
  }
  .header__logo {
    font-size: 2rem
  }
  .footer__container {
    padding-top: 6.25rem
  }
  .footer__container {
    padding-bottom: 6.25rem
  }
  .footer__container {
    padding-left: 4.0625rem
  }
  .footer__container {
    padding-right: 4.0625rem
  }
  .footer__menu {
    gap: 4.6875rem
  }
  .footer__team {
    font-size: 1.875rem
  }
  .footer__title {
    margin-bottom: 1.25rem
  }
  .hero {
    padding-top: 10.625rem
  }
  .hero {
    padding-bottom: 5rem
  }
  .hero__title {
    font-size: 2.25rem
  }
  .hero__title {
    margin-top: 3.125rem
  }
  .hero__image-first {
    max-width: 25.75rem
  }
  .hero__main-info {
    max-width: 18.75rem
  }
  .hero__image-second {
    max-width: 15.1875rem
  }
  .hero__main-text {
    margin-top: 1.875rem
  }
  .hero__focus {
    padding-top: 13.75rem
  }
  .hero__focus {
    gap: 5rem
  }
  .hero__image-third {
    max-width: 19.5rem
  }
  .hero__image-fourth {
    max-width: 22.8125rem
  }
  .task {
    padding-top: 7.5rem
  }
  .task {
    padding-bottom: 7.5rem
  }
  .task__title {
    font-size: 3.75rem
  }
  .task__title {
    padding-bottom: 2.625rem
  }
  .services {
    padding-top: 7.5rem
  }
  .services {
    padding-bottom: 7.5rem
  }
  .services__title {
    margin-bottom: 6.25rem
  }
  .services__item {
    gap: 1.875rem
  }
  .services__item-title {
    font-size: 1.875rem
  }
  .services__subtitle {
    margin-bottom: 1.875rem
  }
  .passion__info {
    margin-bottom: 6.625rem
  }
  .passion__title {
    font-size: 3.75rem
  }
  .self__container {
    padding-top: 15.75rem
  }
  .self__container {
    padding-bottom: 13.75rem
  }
  .self__title {
    padding-bottom: 1.875rem
  }
}
@media (max-width:1270px) {
  .task__img-first::before {
    display: none
  }
}
@media (max-width:1200px) {
  .hero__image-fourth::before {
    top: 5%
  }
  .task__img-second {
    max-width: 250px;
    translate: 30% -20%
  }
}
@media (max-width:1150px) {
  .hero__image-third::before {
    bottom: -17%
  }
}
@media (max-width:1050px) {
  .task__img-second {
    max-width: 200px;
    translate: 60% -35%
  }
}
@media (max-width:850px) {
  .task__main {
    align-items: start
  }
  .task__info {
    -webkit-transform: none;
    transform: none
  }
  .task__images {
    max-width: 150px;
    right: 15%;
    top: 75%
  }
  .task__img-first {
    max-width: 200px
  }
  .task__img-second {
    display: none
  }
  .self__image::before {
    left: -40%;
    top: 15%
  }
  .self__image::after {
    right: -10%;
    top: 5%
  }
  .self__image-top {
    max-width: 150px;
    top: -10%;
    right: -25%
  }
  .self__image-bottom {
    max-width: 120px;
    bottom: -7%;
    left: -25%
  }
  .self__info {
    -webkit-transform: translate(-35%,100%);
    transform: translate(-35%,100%)
  }
  .self__title {
    max-width: 500px
  }
}
@media (max-width:720px) {
  .task__images {
    display: none
  }
}
@media (max-width:660px) {
  .hero__image-fourth {
    display: none
  }
}
@media (max-width:630px) {
  .footer__menu {
    width: 100%;
    justify-content: space-between
  }
  .footer__team {
    text-align: center;
    margin: 0 auto
  }
}
@media (max-width:628px) {
  .services {
    padding-bottom: 0
  }
  .services__right {
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%)
  }
  .services__info {
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%)
  }
}
@media (max-width:540px) {
  .self__image::after {
    display: none
  }
}
@media (max-width:450px) {
  .self__image::before {
    display: none
  }
}
@media (max-width:445px) {
  .header__booking {
    text-align: end
  }
}
@media (max-width:423px) {
  .services__left {
    max-width: 135px
  }
  .services__middle {
    max-width: 135px
  }
  .services__right {
    max-width: 135px
  }
}
@media (max-width:420px) {
  .hero__image-first::before {
    display: none
  }
}
@media (max-width:400px) {
  .hero__image-first {
    left: 55%
  }
}
@media (max-width:20em) {
  body {
    font-size: .9375rem
  }
  .menu {
    gap: 1.25rem
  }
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .title {
    font-size: 1.625rem
  }
  .header {
    margin-top: .625rem
  }
  .header__logo {
    font-size: 1.6875rem
  }
  .footer__container {
    padding-top: 1.875rem
  }
  .footer__container {
    padding-bottom: 2.5rem
  }
  .footer__container {
    padding-left: .625rem
  }
  .footer__container {
    padding-right: .625rem
  }
  .footer__menu {
    gap: 1.5625rem
  }
  .footer__team {
    font-size: 1.25rem
  }
  .footer__title {
    margin-bottom: .625rem
  }
  .hero {
    padding-top: 5.625rem
  }
  .hero {
    padding-bottom: 3.75rem
  }
  .hero__title {
    font-size: 1.5rem
  }
  .hero__title {
    margin-top: 1.25rem
  }
  .hero__image-first {
    max-width: 15.625rem
  }
  .hero__main-info {
    max-width: 12.5rem
  }
  .hero__image-second {
    max-width: 5rem
  }
  .hero__main-text {
    margin-top: 1.25rem
  }
  .hero__focus {
    padding-top: 3.125rem
  }
  .hero__focus {
    gap: .9375rem
  }
  .hero__image-third {
    max-width: 9.375rem
  }
  .hero__image-fourth {
    max-width: 1.25rem
  }
  .task {
    padding-top: 4.375rem
  }
  .task {
    padding-bottom: 4.375rem
  }
  .task__title {
    font-size: 2.1875rem
  }
  .task__title {
    padding-bottom: 1.25rem
  }
  .services {
    padding-top: 4.375rem
  }
  .services {
    padding-bottom: 4.375rem
  }
  .services__title {
    margin-bottom: 1.875rem
  }
  .services__item {
    gap: .9375rem
  }
  .services__item-title {
    font-size: 1.25rem
  }
  .services__subtitle {
    margin-bottom: 1.25rem
  }
  .passion__info {
    margin-bottom: 2.5rem
  }
  .passion__title {
    font-size: 2.1875rem
  }
  .self__container {
    padding-top: 4.375rem
  }
  .self__container {
    padding-bottom: 6.25rem
  }
  .self__title {
    padding-bottom: .625rem
  }
}
@media (max-width:85.625em) {
  .fp-bullets {
    right: 1.25rem
  }
}
@media (max-width:61.99875em) and (max-width:20em) {
  .menu__list {
    -webkit-column-gap: .0000000625rem;
    -moz-column-gap: .0000000625rem;
    column-gap: .0000000625rem
  }
}
@media (max-width:61.99875em) {
  .hero__image-fourth::before {
    display: none
  }
  .services__middle::before {
    display: none
  }
  .services__right::before {
    display: none
  }
  .services__info {
    margin-left: auto;
    max-width: 250px
  }
  .self__image-top {
    max-width: 250px;
    right: -35%
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #dfccc2;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    padding-top: 6.25rem;
    font-size: 1.5rem;
    flex-direction: column;
    row-gap: 40px
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__booking {
    font-size: .75rem
  }
  .hero__main {
    flex-direction: column
  }
  .hero__title {
    max-width: 320px
  }
  .hero__image-first {
    left: 50%
  }
  .hero__image-second {
    margin-top: 30px
  }
  .hero__image-second::before {
    display: none
  }
  .hero__main-text {
    margin-left: 0
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .self__image-top {
    max-width: 100px;
    right: -35%
  }
  .self__image-bottom {
    max-width: 90px;
    bottom: -27%
  }
  .self__info {
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%)
  }
}
@media (min-width:20em) and (max-width:85.625em) {
  @supports (font-size:clamp(0.9375rem ,0.918452381rem + 0.0952380952vw ,1rem)) {
    body {
      font-size: clamp(.9375rem ,.918452381rem + .0952380952vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.918452381rem + 0.0952380952vw ,1rem)) {
    body {
      font-size: calc(.9375rem + .0625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (gap:clamp(1.25rem ,0.1071428571rem + 5.7142857143vw ,5rem)) {
    .menu {
      gap: clamp(1.25rem ,.1071428571rem + 5.7142857143vw ,5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.1071428571rem + 5.7142857143vw ,5rem)) {
    .menu {
      gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,0.1071428571rem + 5.7142857143vw ,5rem)) or (column-gap:clamp(1.25rem ,0.1071428571rem + 5.7142857143vw ,5rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,.1071428571rem + 5.7142857143vw ,5rem);
      -moz-column-gap: clamp(1.25rem ,.1071428571rem + 5.7142857143vw ,5rem);
      column-gap: clamp(1.25rem ,.1071428571rem + 5.7142857143vw ,5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.1071428571rem + 5.7142857143vw ,5rem)) or (column-gap:clamp(1.25rem ,0.1071428571rem + 5.7142857143vw ,5rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 65.625);
      -moz-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 65.625);
      column-gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(1.625rem ,1.3583333333rem + 1.3333333333vw ,2.5rem)) {
    .title {
      font-size: clamp(1.625rem ,1.3583333333rem + 1.3333333333vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.3583333333rem + 1.3333333333vw ,2.5rem)) {
    .title {
      font-size: calc(1.625rem + .875 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-top:clamp(0.625rem ,0.244047619rem + 1.9047619048vw ,1.875rem)) {
    .header {
      margin-top: clamp(.625rem ,.244047619rem + 1.9047619048vw ,1.875rem)
    }
  }
  @supports not (margin-top:clamp(0.625rem ,0.244047619rem + 1.9047619048vw ,1.875rem)) {
    .header {
      margin-top: calc(.625rem + 1.25 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(1.6875rem ,1.5922619048rem + 0.4761904762vw ,2rem)) {
    .header__logo {
      font-size: clamp(1.6875rem ,1.5922619048rem + .4761904762vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.6875rem ,1.5922619048rem + 0.4761904762vw ,2rem)) {
    .header__logo {
      font-size: calc(1.6875rem + .3125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.5416666667rem + 6.6666666667vw ,6.25rem)) {
    .footer__container {
      padding-top: clamp(1.875rem ,.5416666667rem + 6.6666666667vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.5416666667rem + 6.6666666667vw ,6.25rem)) {
    .footer__container {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.3571428571rem + 5.7142857143vw ,6.25rem)) {
    .footer__container {
      padding-bottom: clamp(2.5rem ,1.3571428571rem + 5.7142857143vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.3571428571rem + 5.7142857143vw ,6.25rem)) {
    .footer__container {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-left:clamp(0.625rem ,-0.4226190476rem + 5.2380952381vw ,4.0625rem)) {
    .footer__container {
      padding-left: clamp(.625rem ,-.4226190476rem + 5.2380952381vw ,4.0625rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,-0.4226190476rem + 5.2380952381vw ,4.0625rem)) {
    .footer__container {
      padding-left: calc(.625rem + 3.4375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-right:clamp(0.625rem ,-0.4226190476rem + 5.2380952381vw ,4.0625rem)) {
    .footer__container {
      padding-right: clamp(.625rem ,-.4226190476rem + 5.2380952381vw ,4.0625rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,-0.4226190476rem + 5.2380952381vw ,4.0625rem)) {
    .footer__container {
      padding-right: calc(.625rem + 3.4375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (gap:clamp(1.5625rem ,0.6101190476rem + 4.7619047619vw ,4.6875rem)) {
    .footer__menu {
      gap: clamp(1.5625rem ,.6101190476rem + 4.7619047619vw ,4.6875rem)
    }
  }
  @supports not (gap:clamp(1.5625rem ,0.6101190476rem + 4.7619047619vw ,4.6875rem)) {
    .footer__menu {
      gap: calc(1.5625rem + 3.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .footer__team {
      font-size: clamp(1.25rem ,1.0595238095rem + .9523809524vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .footer__team {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4345238095rem + 0.9523809524vw ,1.25rem)) {
    .footer__title {
      margin-bottom: clamp(.625rem ,.4345238095rem + .9523809524vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4345238095rem + 0.9523809524vw ,1.25rem)) {
    .footer__title {
      margin-bottom: calc(.625rem + .625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-top:clamp(5.625rem ,4.1011904762rem + 7.619047619vw ,10.625rem)) {
    .hero {
      padding-top: clamp(5.625rem ,4.1011904762rem + 7.619047619vw ,10.625rem)
    }
  }
  @supports not (padding-top:clamp(5.625rem ,4.1011904762rem + 7.619047619vw ,10.625rem)) {
    .hero {
      padding-top: calc(5.625rem + 5 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,3.369047619rem + 1.9047619048vw ,5rem)) {
    .hero {
      padding-bottom: clamp(3.75rem ,3.369047619rem + 1.9047619048vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,3.369047619rem + 1.9047619048vw ,5rem)) {
    .hero {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.2714285714rem + 1.1428571429vw ,2.25rem)) {
    .hero__title {
      font-size: clamp(1.5rem ,1.2714285714rem + 1.1428571429vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2714285714rem + 1.1428571429vw ,2.25rem)) {
    .hero__title {
      font-size: calc(1.5rem + .75 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-top:clamp(1.25rem ,0.6785714286rem + 2.8571428571vw ,3.125rem)) {
    .hero__title {
      margin-top: clamp(1.25rem ,.6785714286rem + 2.8571428571vw ,3.125rem)
    }
  }
  @supports not (margin-top:clamp(1.25rem ,0.6785714286rem + 2.8571428571vw ,3.125rem)) {
    .hero__title {
      margin-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (max-width:clamp(15.625rem ,12.5392857143rem + 15.4285714286vw ,25.75rem)) {
    .hero__image-first {
      max-width: clamp(15.625rem ,12.5392857143rem + 15.4285714286vw ,25.75rem)
    }
  }
  @supports not (max-width:clamp(15.625rem ,12.5392857143rem + 15.4285714286vw ,25.75rem)) {
    .hero__image-first {
      max-width: calc(15.625rem + 10.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (max-width:clamp(12.5rem ,10.5952380952rem + 9.5238095238vw ,18.75rem)) {
    .hero__main-info {
      max-width: clamp(12.5rem ,10.5952380952rem + 9.5238095238vw ,18.75rem)
    }
  }
  @supports not (max-width:clamp(12.5rem ,10.5952380952rem + 9.5238095238vw ,18.75rem)) {
    .hero__main-info {
      max-width: calc(12.5rem + 6.25 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (max-width:clamp(5rem ,1.8952380952rem + 15.5238095238vw ,15.1875rem)) {
    .hero__image-second {
      max-width: clamp(5rem ,1.8952380952rem + 15.5238095238vw ,15.1875rem)
    }
  }
  @supports not (max-width:clamp(5rem ,1.8952380952rem + 15.5238095238vw ,15.1875rem)) {
    .hero__image-second {
      max-width: calc(5rem + 10.1875 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-top:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .hero__main-text {
      margin-top: clamp(1.25rem ,1.0595238095rem + .9523809524vw ,1.875rem)
    }
  }
  @supports not (margin-top:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .hero__main-text {
      margin-top: calc(1.25rem + .625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-top:clamp(3.125rem ,-0.1130952381rem + 16.1904761905vw ,13.75rem)) {
    .hero__focus {
      padding-top: clamp(3.125rem ,-.1130952381rem + 16.1904761905vw ,13.75rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,-0.1130952381rem + 16.1904761905vw ,13.75rem)) {
    .hero__focus {
      padding-top: calc(3.125rem + 10.625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (gap:clamp(0.9375rem ,-0.3005952381rem + 6.1904761905vw ,5rem)) {
    .hero__focus {
      gap: clamp(.9375rem ,-.3005952381rem + 6.1904761905vw ,5rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,-0.3005952381rem + 6.1904761905vw ,5rem)) {
    .hero__focus {
      gap: calc(.9375rem + 4.0625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (max-width:clamp(9.375rem ,6.2892857143rem + 15.4285714286vw ,19.5rem)) {
    .hero__image-third {
      max-width: clamp(9.375rem ,6.2892857143rem + 15.4285714286vw ,19.5rem)
    }
  }
  @supports not (max-width:clamp(9.375rem ,6.2892857143rem + 15.4285714286vw ,19.5rem)) {
    .hero__image-third {
      max-width: calc(9.375rem + 10.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (max-width:clamp(1.25rem ,-5.3214285714rem + 32.8571428571vw ,22.8125rem)) {
    .hero__image-fourth {
      max-width: clamp(1.25rem ,-5.3214285714rem + 32.8571428571vw ,22.8125rem)
    }
  }
  @supports not (max-width:clamp(1.25rem ,-5.3214285714rem + 32.8571428571vw ,22.8125rem)) {
    .hero__image-fourth {
      max-width: calc(1.25rem + 21.5625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-top:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .task {
      padding-top: clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .task {
      padding-top: calc(4.375rem + 3.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .task {
      padding-bottom: clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)
    }
  }
  @supports not (padding-bottom:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .task {
      padding-bottom: calc(4.375rem + 3.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.7113095238rem + 2.380952381vw ,3.75rem)) {
    .task__title {
      font-size: clamp(2.1875rem ,1.7113095238rem + 2.380952381vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.7113095238rem + 2.380952381vw ,3.75rem)) {
    .task__title {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.830952381rem + 2.0952380952vw ,2.625rem)) {
    .task__title {
      padding-bottom: clamp(1.25rem ,.830952381rem + 2.0952380952vw ,2.625rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.830952381rem + 2.0952380952vw ,2.625rem)) {
    .task__title {
      padding-bottom: calc(1.25rem + 1.375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-top:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .services {
      padding-top: clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .services {
      padding-top: calc(4.375rem + 3.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .services {
      padding-bottom: clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)
    }
  }
  @supports not (padding-bottom:clamp(4.375rem ,3.4226190476rem + 4.7619047619vw ,7.5rem)) {
    .services {
      padding-bottom: calc(4.375rem + 3.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.5416666667rem + 6.6666666667vw ,6.25rem)) {
    .services__title {
      margin-bottom: clamp(1.875rem ,.5416666667rem + 6.6666666667vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.5416666667rem + 6.6666666667vw ,6.25rem)) {
    .services__title {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.6517857143rem + 1.4285714286vw ,1.875rem)) {
    .services__item {
      gap: clamp(.9375rem ,.6517857143rem + 1.4285714286vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.6517857143rem + 1.4285714286vw ,1.875rem)) {
    .services__item {
      gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .services__item-title {
      font-size: clamp(1.25rem ,1.0595238095rem + .9523809524vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .services__item-title {
      font-size: calc(1.25rem + .625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .services__subtitle {
      margin-bottom: clamp(1.25rem ,1.0595238095rem + .9523809524vw ,1.875rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,1.0595238095rem + 0.9523809524vw ,1.875rem)) {
    .services__subtitle {
      margin-bottom: calc(1.25rem + .625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.2428571429rem + 6.2857142857vw ,6.625rem)) {
    .passion__info {
      margin-bottom: clamp(2.5rem ,1.2428571429rem + 6.2857142857vw ,6.625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.2428571429rem + 6.2857142857vw ,6.625rem)) {
    .passion__info {
      margin-bottom: calc(2.5rem + 4.125 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.7113095238rem + 2.380952381vw ,3.75rem)) {
    .passion__title {
      font-size: clamp(2.1875rem ,1.7113095238rem + 2.380952381vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.7113095238rem + 2.380952381vw ,3.75rem)) {
    .passion__title {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-top:clamp(4.375rem ,0.9083333333rem + 17.3333333333vw ,15.75rem)) {
    .self__container {
      padding-top: clamp(4.375rem ,.9083333333rem + 17.3333333333vw ,15.75rem)
    }
  }
  @supports not (padding-top:clamp(4.375rem ,0.9083333333rem + 17.3333333333vw ,15.75rem)) {
    .self__container {
      padding-top: calc(4.375rem + 11.375 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(6.25rem ,3.9642857143rem + 11.4285714286vw ,13.75rem)) {
    .self__container {
      padding-bottom: clamp(6.25rem ,3.9642857143rem + 11.4285714286vw ,13.75rem)
    }
  }
  @supports not (padding-bottom:clamp(6.25rem ,3.9642857143rem + 11.4285714286vw ,13.75rem)) {
    .self__container {
      padding-bottom: calc(6.25rem + 7.5 * (100vw - 20rem)/ 65.625)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.244047619rem + 1.9047619048vw ,1.875rem)) {
    .self__title {
      padding-bottom: clamp(.625rem ,.244047619rem + 1.9047619048vw ,1.875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.244047619rem + 1.9047619048vw ,1.875rem)) {
    .self__title {
      padding-bottom: calc(.625rem + 1.25 * (100vw - 20rem)/ 65.625)
    }
  }
}
@media (max-width:61.99875em) and (min-width:85.625em) {
  .menu__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
}
@media (max-width:61.99875em) and (min-width:20em) and (max-width:85.625em) {
  @supports ((-moz-column-gap:clamp(0.0000000625rem ,-0.9523808708rem + 4.7619046667vw ,3.125rem)) or (column-gap:clamp(0.0000000625rem ,-0.9523808708rem + 4.7619046667vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.0000000625rem ,-.9523808708rem + 4.7619046667vw ,3.125rem);
      -moz-column-gap: clamp(.0000000625rem ,-.9523808708rem + 4.7619046667vw ,3.125rem);
      column-gap: clamp(.0000000625rem ,-.9523808708rem + 4.7619046667vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.0000000625rem ,-0.9523808708rem + 4.7619046667vw ,3.125rem)) or (column-gap:clamp(0.0000000625rem ,-0.9523808708rem + 4.7619046667vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: calc(.0000000625rem + 3.1249999375 * (100vw - 20rem)/ 65.625);
      -moz-column-gap: calc(.0000000625rem + 3.1249999375 * (100vw - 20rem)/ 65.625);
      column-gap: calc(.0000000625rem + 3.1249999375 * (100vw - 20rem)/ 65.625)
    }
  }
}
@media (any-hover:hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
  .header__logo:hover {
    color: red
  }
}